@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <div class="row">
        <h2>ADMIN</h2>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">VehicleId:</div>
        <div class="col-4"><input type="text" id="VehicleId" /></div>
        <div class="col-2">InstitutionId:</div>
        <div class="col-4"><input type="text" id="InstitutionId" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="SendAllVehicleData" value="Subscribe All Vehicle for admin" /></ br>
            <input type="button" id="SendAllVehicleDataForInstitutionId" value="Subscribe Vehicle For Institution" /></ br>
            <input type="button" id="SendSubscribedVehicleData" value="Subscribe Vehicle" /></ br>
            <input type="button" id="UnsubscribeVehicleData" value="Unsubscribe" /></ br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

